In [ ]:
import pandas as pd

In [ ]:
pd.

In [ ]:
#Create

In [ ]:
file_path = r"C:\Users\macks\Downloads\telco_churn.csv"

In [ ]:
df = pd.read_csv("telco_churn.csv")

In [ ]:
#create from dictionary

In [ ]:
print("----- HEAD -----")

In [ ]:
print(df.head(10))

In [ ]:
#View the last few rows

In [ ]:
print("\n----- TAIL -----")
print(df.tail(5))

In [ ]:
#Check columns and data types

In [ ]:
print("\n----- COLUMNS -----")
print(df.columns)

In [ ]:
print("\n----- DATA TYPES -----")
print(df.dtypes)

In [ ]:
#Basic summary statistics

In [ ]:
print("\n----- SUMMARY STATS (NUMERIC) -----")
print(df.describe())

In [ ]:
print("\n----- SUMMARY STATS (CATEGORICAL) -----")
print(df.describe(include='object'))

In [ ]:
#Check for missing values

In [ ]:
print("\n----- MISSING VALUES -----")
print(df.isnull().sum())

In [ ]:
#Create a small DataFrame manually (for demonstration)

In [ ]:
sample_data = {
    'CustomerID': [1, 2, 3],
    'Plan': ['Basic', 'Premium', 'Unlimited'],
    'Churn': [False, True, False]
}
sample_df = pd.DataFrame(sample_data)
print("\n----- SAMPLE DF -----")
print(sample_df.head())

In [ ]:
#View top/bottom rows

In [ ]:
print("\n----- TOP 5 -----")
print(df.head())
print("\n----- BOTTOM 5 -----")
print(df.tail())

In [ ]:
#View unique values from categorical columns

In [ ]:
print("\n----- UNIQUE VALUES IN 'Churn' COLUMN -----")
print(df['Churn'].unique())

In [ ]:
#Filter data — customers who churned

In [ ]:
print("\n----- CUSTOMERS WHO CHURNED -----")
print(df[df['Churn'] == 'Yes'].head())

In [ ]:
#Multiple conditions (example: churned and on international plan)

In [ ]:
if 'International plan' in df.columns:
    filtered = df[(df['Churn'] == 'Yes') & (df['International plan'] == 'Yes')]
    print("\n----- CHURNED & INTERNATIONAL PLAN -----")
    print(filtered.head())

In [ ]:
#Indexing with iloc and loc

In [ ]:
print("\n----- ILOC (Row 5) -----")
print(df.iloc[5])

In [ ]:
print("\n----- ILOC (Rows 10–15, Columns 0–3) -----")
print(df.iloc[10:16, 0:4])

In [ ]:
# If there’s a “State” column, set it as the index and filter by one

In [ ]:
if 'State' in df.columns:
    df.set_index('State', inplace=True)
    print("\n----- FILTER BY STATE (e.g., OHIO) -----")
    print(df.loc['OH'])

In [ ]:
#Drop missing rows

In [ ]:
df.dropna(inplace=True)
print("\n----- AFTER DROPPING MISSING VALUES -----")
print(df.isnull().sum())

In [ ]:
#Drop a column (example: 'Area code' if it exists)

In [ ]:
if 'Area code' in df.columns:
    df.drop(columns=['Area code'], inplace=True)
    print("\n----- DROPPED 'Area code' COLUMN -----")
    print(df.head())

In [ ]:
#Create a new calculated column

In [ ]:
if 'Total day minutes' in df.columns and 'Total intl minutes' in df.columns:
    df['Total combined minutes'] = df['Total day minutes'] + df['Total intl minutes']
    print("\n----- NEW COLUMN CREATED -----")
    print(df[['Total day minutes', 'Total intl minutes', 'Total combined minutes']].head())

In [ ]:
#Update entire column values#

In [ ]:
if 'Total combined minutes' in df.columns:
    df['Total combined minutes'] = 100
    print("\n----- UPDATED 'Total combined minutes' TO 100 -----")
    print(df.head())

In [ ]:
#Update a single value using iloc